<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>{% block title %} {% endblock %}</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.js"></script>
   </head>
   <body>
      
      <div class="container">
         
         <!-- Importar macro para crear un boton -->
         {% from 'base/_macro.html' import show_button  %}

         <!-- Navigation -->
         <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
               <a class="navbar-brand" href="#">Start Bootstrap</a>
               <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarResponsive">
                  <ul class="navbar-nav ml-auto">
                     <li class="nav-item {% block active_home %}{% endblock %}">
                        <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                        </a>
                     </li>
                     <li class="nav-item {% block active_user %}{% endblock %}">
                        <a class="nav-link" href="/usuario">Usuario</a>
                     </li>
                     <li class="nav-item {% block active_client %}{% endblock %}">
                        <a class="nav-link" href="/clientes">Clientes</a>
                     </li>
                     <li class="nav-item {% block active_form %}{% endblock %}">
                        <a class="nav-link" href="/contacto">Contacto</a>
                     </li>
                     <li class="nav-item {% block active_form_login %}{% endblock %}">
                        <a class="nav-link" href="/login">Login</a>
                     </li>
                     <li class="nav-item {% block active_form_create_user %}{% endblock %}">
                        <a class="nav-link" href="/create-user">Registrarse</a>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>

         {% with messages = get_flashed_messages() %}
            {% if messages %}
               <br>
               <div class="row">
                  <div class="alert alert-primary col-md-12 col-md-offset-12" align="center">
                        {% for message in messages %}
                           {{message}}
                        {% endfor %}
                     </div>
               </div>
            {% endif %}
         {% endwith %}

         <div class="row">
            {% block home %}
            {% endblock %}
         </div>
         
         <!-- Contenido pagina -->
         <div class="row">
            {% block content %}
            {% endblock %}
         </div>

      </div>
      
      <!-- Footer -->
      <footer class="py-5 bg-dark">
         <div class="container">
            <p class="m-0 text-center text-white">Copyright Base &copy; Your Website 2019</p>
         </div>
         <!-- /.container -->
      </footer>

      <script src="{{ url_for('static', filename='js/ejemplo.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
   </body>
</html>