<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">
      <title>{% block title %} {% endblock %}</title>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
   </head>
   <body>
      <!-- Importar macro para crear un boton -->
      {% from 'base/_macro.html' import show_button  %}
      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
         <div class="container">
            <a class="navbar-brand" href="#">Start Bootstrap</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
               <ul class="navbar-nav ml-auto">
                  <li class="nav-item active">
                     <a class="nav-link" href="#">Home
                     <span class="sr-only">(current)</span>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">Usuario</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">Clientes</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="#">Contacto</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
      <!-- Page Content -->
      <div class="container">
         <!-- Heading Row -->
         <div class="row align-items-center my-5">
            <div class="col-lg-7">
               <img class="img-fluid rounded mb-4 mb-lg-0" src="{{ url_for('static', filename='img/logo-flask.png') }}" alt="">
            </div>
            <!-- /.col-lg-8 -->
            <div class="col-lg-5">
               <h1 class="font-weight-light">Titulo Base</h1>
               <p>Descripcion Base!</p>
               {{ show_button('#', 'btn btn-primary', 'Accion Base!') }}
            </div>
            <!-- /.col-md-4 -->
         </div>
         <!-- /.row -->
         <!-- Contenido pagina -->
         <div class="row">
            {% block content %}
            {% endblock %}
         </div>
         <!-- /.row -->
      </div>
      <!-- /.container -->
      <!-- Footer -->
      <footer class="py-5 bg-dark">
         <div class="container">
            <p class="m-0 text-center text-white">Copyright Base &copy; Your Website 2019</p>
         </div>
         <!-- /.container -->
      </footer>
      <script src="{{ url_for('static', filename='js/ejemplo.js') }}"></script>
   </body>
</html>