<!--Renderizar plantilla base-->
{% extends 'base/base.html' %}

<!--Titulo de la pagina-->
{% block title %} PAGINA CLIENTE {% endblock %}

<!-- activar menu de nevegacion -->
{% block active_client %} active {% endblock %}

<!-- Importar macro para crear un boton -->
{% from 'base/_macro.html' import show_button  %}

<!--Renderizar contenido clientes-->
<!--Iterar clietes-->
{% block content %}
    {% for nombre_cliente in nombres_clientes %}
        <div class="col-md-4 mb-5">
          <br>
            <div class="card h-100">
              <div class="card-body">
                <h2 class="card-title">{{ nombre_cliente }}</h2>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem magni quas ex numquam, maxime minus quam molestias corporis quod, ea minima accusamus.</p>
              </div>
              <div class="card-footer">
                {{ show_button('#', 'btn btn-primary btn-sm', 'Mas informacion') }}
              </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}